* .border {
    border: solid 2px white;
    padding: 18px 30px 12px 23px;
    margin: 8px;
    border-radius: 7px;
}
.main {
    width: 100%;
    background-color: white;
}

.header {
    width: 1900px;
    height: 81px;
    background-color: #1D2126;
}
.logo {
    width: 100px;
    height: 20px;
    padding-top: 31px;
    padding-left: 380px;
    display: block;
}

.menu {
    float: right;
    list-style-type: none;
    padding-right: 400px;
    text-transform: uppercase;
}
li {
    display: inline-block;
    
}

.menu li a {
    color: white;
    text-align: center;
    margin: 16px;
    text-decoration: none;
}
.menu li a:hover {
    border: solid 2px grey;
    padding: 6px 17px 6px 10px;
    border-radius: 5px;
}
.menu li a:active {
    border: solid 2px #23B7A4;
    border-radius: 5px;
    padding: 6px 15px 6px 10px;
}
nav {
    width: 1900px;
    height: 656px;
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
  background-size: cover;
  background-color: gray;
}
h1 {
    text-transform: uppercase;
    padding-top: 220px;
    padding-left: 380px;
    font-size: 36px;
    color: #FFFFFF;
}
.lorem {
    padding-top: 20px;
    padding-left: 380px;
    font-size: 16px;
    color: #CCD0D7;
}
.p2 {
    font-size: 16px;
    color: #CCD0D7;
}
.navbuttons ul {
    text-transform: uppercase;
    padding-top: 35px;
    padding-left: 380px;
    color: white;
}
.navbuttons ul :hover {
    background-color: #23B7A4;
    border-style: inherit;
    cursor: pointer;
}
.pagination{
    padding-top: 203px;
    padding-left: 1462px;
    margin:10px;
}