.main {
    width: auto;
    background-color: white;
}
.header {
    width: 1900px;
    height: 81px;
    background-color: black;
    padding-top: 25px;

}
.logo {
    width: 100px;
    height: 20px;
    margin-left: 380px;
    
}
ul {
    float: right; 
    list-style-type: none;
    margin-right: 400px;
}
li {
    display: inline-block;
}
li a {
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    
}
.banner {
    width: 1890px;
    height: 655px;
    background-color: yellow;

}
