.main {
    background-color: aqua;
}
.header {
    width: 1900px;
    height: 81px;
    background-color: black;
}
.banner {
    width: 1890px;
    height: 655px;
    background-color: yellow;

}

1890
655